*.exe
*.suo
*.ilk
*.db
*.opendb
*.obj
*.aps
*.pdb
*.iobj
*.ipdb
server/Debug*
server/Release*
server/bibles/Bibledit*
server/consultations/*
cache_resource_*
server/databases/client/*.txt
server/databases/client/user_resource*
server/databases/clients/admin*
server/databases/config/bible/Bible*
server/databases/config/general/r*
server/databases/config/general/s*
server/databases/config/general/c*
server/databases/config/general/u*
server/databases/config/general/i*
server/databases/config/general/j*
server/databases/config/general/l*
server/databases/config/user/admin
server/databases/modifications/team/*.*.*
bibleactions.sqlite
check.sqlite
confirm.sqlite
git.sqlite
jobs.sqlite
localization_*.sqlite
login.sqlite
mail.sqlite
mappings.sqlite
modifications.sqlite
navigation.sqlite
noteactions.sqlite
notes*.sqlite
privileges.sqlite
sprint.sqlite
state.sqlite
styles.sqlite
users.sqlite
versifications.sqlite
server/dyncss/*.css
server/logbook/1*
